html, body, ul, a, nav, address {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    color: #434455;
    text-decoration: none;
    list-style-type: none;
    font-style: normal;
}

header{
    background-color: #E7E9FC;
}

.logo {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
}

.logo .logo-web {
    color: #4a5ae5;
}

.logo .logo-studio {
    color: #2e2f42;
}

.header .navigation .page-navigation {
color: #2e2f42;
font-size: 16px;
font-weight: 500;
}

.header .address .page-address {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
}

.button-order {
    background-color: #2e2f42;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    color: #ffffff;
}

.button-order .button {
    font-size: 16px;
    font-weight: 500;
    background-color: #4d5ae5;
    color: #ffffff;
}

.our-advantage .our-advantage-title {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
}

.our-advantage .paragraph {
    font-size: 16px;
    font-weight: 400;
    color: #434455;
}

.our-team {
    background-color: #f4f4fd;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    color: #2e2f42;
    text-align: center;
}

.our-team .photo-our-team {
background-color: #ffffff;
}

.our-team .our-team-title {
    font-size: 20px;
    font-weight: 500;
    color: #2E2F42;
    text-align: center;
}

.our-team .our-team-paragraph {
    font-size: 16px;
    font-weight: 400;
    color: #434455;
    text-align: center;
}

.portfolio .portfolio-photo {
    background-color: #ffffff;
}

.portfolio .portfolio-title {
    font-size: 20px;
    font-weight: 500;
    color: #2e2f42;
}

.portfolio .portfolio-paragraph {
    font-size: 16px;
    font-weight: 400;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
    }

.footer .footer-logo {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    background-color: #2e2f42;
        }

.footer .footer-logo .footer-logo-web {
    color: #4d5ae5;
}

.footer .footer-logo .footer-logo-studio {
    color: #f4f4fd;
}

.footer .footer-paragraph {
    font-size: 16px;
    font-weight: 400;
    color: #f4f4fd;
}